-- ============================================================================
-- 🔍 CHECK LEADS TABLE STRUCTURE
-- ============================================================================

-- Query 1: Check if user_id column exists
SELECT column_name, data_type, is_nullable
FROM information_schema.columns
WHERE table_name = 'leads'
  AND column_name IN ('user_id', 'assigned_to')
ORDER BY ordinal_position;

-- Query 2: Sample data - See what columns are populated
SELECT 
    id,
    name,
    phone,
    user_id,
    assigned_to,
    created_at
FROM leads
WHERE assigned_to IS NOT NULL
ORDER BY created_at DESC
LIMIT 5;

-- Query 3: Check if user_id = assigned_to for recent leads
SELECT 
    COUNT(*) as total_leads,
    COUNT(CASE WHEN user_id = assigned_to THEN 1 END) as same_user,
    COUNT(CASE WHEN user_id != assigned_to THEN 1 END) as different_user,
    COUNT(CASE WHEN user_id IS NULL AND assigned_to IS NOT NULL THEN 1 END) as user_id_is_null
FROM leads;
