-- ============================================================================
-- 🔍 CHECK META_PAGES TEAM MAPPING
-- ============================================================================

-- Query 1: Check all Meta pages and their team mappings
SELECT 
    page_id,
    page_name,
    team_id,
    is_active
FROM meta_pages
ORDER BY page_name;

-- Query 2: Check Himanshu's page team mapping
SELECT 
    page_name,
    team_id,
    is_active
FROM meta_pages
WHERE page_name LIKE '%Himanshu%' OR page_name LIKE '%Work With%';

-- Query 3: Check how RPC handles team codes
-- The RPC function get_best_assignee_for_team accepts team_code
-- We need to see if it can handle multiple team codes or just one
