-- ============================================================================
-- 🕵️ CHECK BINARY TRIGGERS ON LEADS TABLE
-- ============================================================================

SELECT 
    tgname as trigger_name,
    tgtype as trigger_type, -- (5 = After Insert, 17 = After Update, etc.)
    proname as function_name,
    prosrc as function_body
FROM pg_trigger
JOIN pg_proc ON pg_trigger.tgfoid = pg_proc.oid
WHERE tgrelid = 'public.leads'::regclass;

-- Also check if there's a notifications table
SELECT table_name 
FROM information_schema.tables 
WHERE table_name LIKE '%notification%';
