CREATE OR REPLACE FUNCTION upsert_meta_page(pid text, pname text, tid text) RETURNS void SECURITY DEFINER AS \$\$ BEGIN INSERT INTO meta_pages (page_id, page_name, team_id) VALUES (pid, pname, tid) ON CONFLICT (page_id) DO UPDATE SET team_id = tid; END; \$\$ LANGUAGE plpgsql;
