CREATE TABLE IF NOT EXISTS meta_pages (id UUID PRIMARY KEY DEFAULT uuid_generate_v4(), page_id TEXT UNIQUE NOT NULL, page_name TEXT, team_id TEXT NOT NULL, created_at TIMESTAMPTZ DEFAULT NOW()); ALTER TABLE meta_pages ENABLE ROW LEVEL SECURITY; CREATE POLICY \
Allow
public
read\ ON meta_pages FOR SELECT TO anon, authenticated USING (true);
