CREATE OR REPLACE FUNCTION verify_team_code(code text) RETURNS TABLE (is_valid boolean, manager_id uuid, manager_name text) SECURITY DEFINER AS \$\$ BEGIN RETURN QUERY SELECT true as is_valid, id as manager_id, name as manager_name FROM users WHERE team_code = code AND role = 'manager' LIMIT 1; END; \$\$ LANGUAGE plpgsql;
