@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Mobile Menu Fix */
.mobile-menu-overlay {
  background-color: #0f172a !important; /* Force Solid Dark Blue */
  opacity: 1 !important;
}
