SELECT u.name, u.target_state, u.target_gender, l.city, l.gender, l.assigned_at, CASE WHEN l.city = '' AND u.target_state != 'All India' THEN ' MISMATCH (Empty City)' WHEN l.city ILIKE '%unknown%' AND u.target_state != 'All India' THEN ' MISMATCH (Unknown City)' ELSE ' MATCH' END as match_status FROM leads l JOIN users u ON l.user_id = u.id WHERE DATE(l.assigned_at AT TIME ZONE 'Asia/Kolkata') = CURRENT_DATE AND l.assigned_at > NOW() - INTERVAL '30 minutes' AND l.source != 'Manual Assignment' ORDER BY l.assigned_at DESC LIMIT 15;
