SELECT plan_name, COUNT(*) as users, SUM(daily_limit) as total_limit, SUM(leads_today) as sent, SUM(GREATEST(0, daily_limit - leads_today)) as needed FROM users WHERE role = 'member' AND payment_status = 'active' GROUP BY plan_name ORDER BY needed DESC;
