INSERT INTO leads (name, phone, city, status, user_id, assigned_at, source)
SELECT name, phone, city, 'Assigned', 
  (SELECT id FROM users WHERE email = 'sunnymehre451@gmail.com'),
  NOW(), 'Manual Assignment'
FROM (VALUES
  ('ਸਦਪ', '7837674091', 'Mohali'),
  ('Husanpreet kaur', '9814915310', 'Patiala'),
  ('ʜᴀʀᴍᴇᴇᴛ', '8146825999', 'Moga')
) AS t(name, phone, city);

UPDATE users 
SET total_leads_received = total_leads_received + 3,
    leads_today = leads_today + 3 
WHERE email = 'sunnymehre451@gmail.com';
