INSERT INTO leads (name, phone, city, status, user_id, assigned_at, source)
SELECT name, phone, city, 'Assigned', 
  (SELECT id FROM users WHERE email = 'sunnymehre451@gmail.com'),
  NOW(), 'Manual Assignment'
FROM (VALUES
  ('Jagraj Kataria', '8427658410', 'payal'),
  ('Gora Bhari', '17347208107', 'Sri Muktsar Sahib'),
  ('Daljeet kaur', '9878919154', 'Ludhiana')
) AS t(name, phone, city);

UPDATE users 
SET total_leads_received = total_leads_received + 3,
    leads_today = leads_today + 3 
WHERE email = 'sunnymehre451@gmail.com';
