SELECT u.name, u.target_state, l.id, l.city, l.assigned_at FROM users u JOIN leads l ON l.user_id = u.id WHERE u.target_state = 'Punjab' AND DATE(l.assigned_at AT TIME ZONE 'Asia/Kolkata') = CURRENT_DATE AND l.source != 'Manual Assignment' ORDER BY l.assigned_at DESC LIMIT 20;
