SELECT name, email, plan_name, daily_limit, leads_today, last_lead_time, target_state, target_gender FROM users WHERE role = 'member' AND payment_status = 'active' ORDER BY leads_today ASC, plan_name DESC;
